@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Spartan',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color:black;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 20px;
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin:40px 0;
}
body{
    width: 100%;
}
.logo{
    display: flex;
    height: 8vh;
    width: 8vw;
    margin-left: -40px;

}
#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    padding: 20px 80px;
    background: rgb(247, 246, 246)
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 18px; */
    list-style: none;
}
#navbar li{
    padding: 0px 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:1a,1a,1a;
}